/wp-includes/
/wp-admin/
/wp-content/themes/argento/bower_components/
/wp-content/themes/argento/node_modules/
/node_modules
.DS_Store
._.DS_Store
.htaccess
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php.
xmlrpc.php
