/*--------------------------------------------------------------
## Flaticon
--------------------------------------------------------------*/
    @font-face {
  font-family: "Flaticon";
  src: url("http://argento-edu.s3.amazonaws.com/fonts/Flaticon.eot");
  src: url("http://argento-edu.s3.amazonaws.com/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("http://argento-edu.s3.amazonaws.com/fonts/Flaticon.woff") format("woff"),
       url("http://argento-edu.s3.amazonaws.com/fonts/Flaticon.ttf") format("truetype"),
       url("http://argento-edu.s3.amazonaws.com/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("http://argento-edu.s3.amazonaws.com/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-aceitar:before { content: "\f100"; }
.flaticon-artigos:before { content: "\f101"; }
.flaticon-busca:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-cancelar:before { content: "\f104"; }
.flaticon-clareza-de-objetivos:before { content: "\f105"; }
.flaticon-comunidade:before { content: "\f106"; }
.flaticon-consolidado:before { content: "\f107"; }
.flaticon-cursos:before { content: "\f108"; }
.flaticon-cursos-link:before { content: "\f109"; }
.flaticon-direita:before { content: "\f10a"; }
.flaticon-diretor:before { content: "\f10b"; }
.flaticon-duracao:before { content: "\f10c"; }
.flaticon-esquerda:before { content: "\f10d"; }
.flaticon-inicio:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-investimento:before { content: "\f110"; }
.flaticon-local:before { content: "\f111"; }
.flaticon-people:before { content: "\f112"; }
.flaticon-pessoas-envolvidas:before { content: "\f113"; }
.flaticon-ponto-de-partida:before { content: "\f114"; }
.flaticon-time:before { content: "\f115"; }
    
    $font-Flaticon-aceitar: "\f100";
    $font-Flaticon-artigos: "\f101";
    $font-Flaticon-busca: "\f102";
    $font-Flaticon-business: "\f103";
    $font-Flaticon-cancelar: "\f104";
    $font-Flaticon-clareza-de-objetivos: "\f105";
    $font-Flaticon-comunidade: "\f106";
    $font-Flaticon-consolidado: "\f107";
    $font-Flaticon-cursos: "\f108";
    $font-Flaticon-cursos-link: "\f109";
    $font-Flaticon-direita: "\f10a";
    $font-Flaticon-diretor: "\f10b";
    $font-Flaticon-duracao: "\f10c";
    $font-Flaticon-esquerda: "\f10d";
    $font-Flaticon-inicio: "\f10e";
    $font-Flaticon-interface: "\f10f";
    $font-Flaticon-investimento: "\f110";
    $font-Flaticon-local: "\f111";
    $font-Flaticon-people: "\f112";
    $font-Flaticon-pessoas-envolvidas: "\f113";
    $font-Flaticon-ponto-de-partida: "\f114";
    $font-Flaticon-time: "\f115";